#menu{
    position: absolute;
    text-align: center;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background: aqua;
}

#menuTitle{
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
}

